.Layout {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.img {
    width: 100% ;
}

.LayoutCards {
    max-width: 97vw;
    height: auto;
    border: 1px solid #ccc;
    padding: 4px;
    margin: 10px 10px 20px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    position: absolute;
    top: 63vh;
    left: 0.7vw;
    right: 1vw;
    background-color: rgb(255, 255, 255);
}

.foot {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}


@media (min-width: 320px) and (max-width: 500px)  { 
    
    .LayoutCards {
        margin: 90px 5px;
        position: absolute;
        top: auto;
        
        
        
    }
}
