.Layout {
    height: 100%;
    width: 100%;
}

.img {
    position: relative;
    top: 74px;
    left: 0;
    right: 0vh;
    height: 500px;
    width: 99vw;
    display: inline-block;
    padding: 0;
    
}

.LayoutCards {
    max-width: 97vw;
    height: auto;
    border: 1px solid #ccc;
    padding: 4px;
    margin: 120px 10px 20px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    position: absolute;
    top: 63vh;
    left: 0.7vw;
    right: 1vw;
    background-color: rgb(255, 255, 255);
}



@media (min-width: 320px) and (max-width: 500px)  { 
    
    .LayoutCards {
        margin: 50px 5px;
        position: absolute;
        top: auto;
        
        
        
    }
}
