/* Universal Styles */
:root {
  --mainYellow: rgb(219, 219, 98);
  --mainDark: #0c0c0e;
  --mainWhite: #f3f3f3;
  --transition: all 1s linear;
  --blue-color: rgba(46, 137, 173, 0.45);
  --overlay-color: rgba(43, 43, 44, 0.85);
  --primary-color: rgba(47, 66, 71, 0.45);
  --overlay-color: rgba(43, 43, 44, 0.85);
  --menu-speed: 0.75s;
}

  
    html, body {

      background-color: rgba(218, 218, 218, 0.74);
      font-family: Helvetica, Arial, sans-serif;
      text-align: center;
      height:100%;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .social-media {
      align-items: center;
      display: flex;
      transition: transform 0.3s ease-in-out;
    }
    
    .social-media:hover {
      transform: translateX(calc(-100% + 60px));
    }
    
    .social-media i {
      color: #fff;
      font-size: 20px;
      padding: 15px;
      text-align: center;
      width: 60px;
    }
    
    .social-media a {
      color: #fff;
      padding: 0 10px;
    }

    .social-media-container {
      list-style-type: none;
      padding: 0;
      position: fixed;
      top: 50%;
      left: calc(100% - 60px);
      transform: translateY(-50%);
      min-width: 200px;
    }

    .social-media.blog {
      background-color: #e17b77;
    }
    
    .social-media.facebook {
      background-color: #3b5998;
    }
    
    .social-media.twitter {
      background-color: #00aced;
    }
    
    .social-media.github {
      background-color: #333;
    }
    
    .social-media.linkedin {
      background-color: #007bb6;
    }
    
  
      
    @media only screen and (max-width: 560px) {
      html h1 {
        font-size: 25px;
      }
      
      input:focus {
      outline: none;
      }

    }